*{
  margin: 0;
  padding: 0;
}
html,body{
  height: 100%;
}
#container{
min-height: 70%;
background-color: rgba(241, 200, 255, 0.50);
}
#main{
  overflow: auto;
  height: 700px;
  padding-bottom: 20px;
  background-color: rgba(241, 200, 255, 0.50);
}
#footer{
  background-color: rgba(0, 0, 0, 0.65);
  position: relative;
  height: 100px;
  margin-top: auto;
  clear: both;
  text-align: right;

  color: rgb(255, 255, 255);

}
#header{
  background-color: rgba(0, 0, 0, 0.8);
  padding-top: 0px;
  position: relative;
  color: white;
  text-align: center;
  top: 0px;
  padding: 40px;

}
form{
  width: 400px;
  padding:50px;
  margin: 0px auto;


}
.textInput{
  margin-top: 2px;
  height: 28px;
  border: 1px solid #5E6E66;
  font-size: 16px;
  padding: 5px;
  width: 100%;
}
#error_msg{
  width: 50%;
  margin: 5px auto;
  height: 30px;
  border: 1px solid #FF0000;
  color: #FF0000
  background: #FFB9BB;
  text-align: center;
  padding-top: 10px;
}
td{
  text-align: right;
}
a{
  text-align: right;
  color: white;
  float: right;
  font-size: 20px;
}
.btn1{
  width: 60%;

  padding:10px;
  margin: 10px 30px;
}
.btn2{
  width: 100%;

  padding:10px;
  margin: 10px -150px;
}
